h1{
    color: red;

}
pre{
    color: rgb(72, 44, 44);
}
h4{
    color: blanchedalmond;
    color: blue;
}
body{
    background-color: rgb(180, 169, 63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}